<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/cart.css" />
  	</head>
  	<body>
        <section>
            <div class="header">
                <% include header.ejs %>
            </div>
            <div class="content">
                <div class="context">
                    <div class="cartTitle">My shopping cart</div>
                    <!-- Topmost condition, if the cart object that is being sent from server
                        is empty, then we render the msg 'empty' -->
                    <% if (cart === undefined || cart.length == 0) { %>
                        <div class="cartContent center">Your cart is empty, fill it up!</div>
                    <!-- This statements is true if cart is not empty and undefined -->
                    <% } else { %>
                        <div class="cartContent">
                            <!-- Loop over cart object that comes from server -->
                            <% for(let item of cart) { %>
                                <div class="section">
                                    <span class="sectionImage">
                                        <!-- Only render if there is an image asociated with that name -->
                                        <% if(item.image) { %>
                                            <!-- Hard-code remove the localhost from the image string location -->
                                            <% let val = item.image; newVal = val.substring(21, val.length); %>
                                            <!-- Insert the image inside the source -->
                                            <img id="resizedIMG" src="../../<%= newVal %>">
                                        <% } %>
                                    </span>
                                    <span class="sectionName"><%= item.name %></span>
                                    <span class="sectionPrice">
                                        <span class="remove">
                                            <p><%= item.id %></p>
                                            <span>REMOVE</span>
                                        </span>
                                        <span class="price">$<%= item.price %></span>
                                    </span>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="cartTotal">
                        <div class="total">Total: 
                            <span class="totalPrice">
                                <!-- Helper to ensure the final number doesn't have more than two decimals -->
                                $<%= total.toFixed(2) %>
                            </span>
                        </div>
                        <div class="checkout">
                            <p>Checkout</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <% include footer.ejs %>
            </div>
        </section>
  	</body>
</html>

<script>
    let remove = document.querySelector('.remove span');
    let user = document.querySelector('.user').innerText;  
    /* Because there is a listener to remove each element, ensure that it exists in DOM
        If the cart is empty we listen to a non-existing element (no rendered remove button) 
        This helps with an eventual error if thte cart is empty */
    if (remove) {
        remove.addEventListener('click', async () => {
            // Get the ID from the remove button (each remove has the id of item bound to the element)
            let id = document.querySelector('.remove p').innerText;
            let obj = {
                id: id,
                user: user
            }
            let headers = new Headers();
            headers.append('Content-type', 'application/json');
            // Create options object that describes how fetch will send data
            let options = {
                method: `POST`,
                headers: headers,
                mode: `cors`,
                cache: `default`,
                body: JSON.stringify(obj),
                // Make sure the cookie is included
                credentials: `include`
            }
            fetch(`http://localhost:3000/dashboard/removecart`, options).then((res) => {
                // Object has been removed
                if (Object.is(res.status, 200)) location.reload();
            })
        })
    }
</script>