<!-- This view is used on every page therefor it has the most logic into it -->
<span class="title"><%= project %></span>
<span class="category">
    <!-- Default predefined categories -->
    <p> <%- link_to(`Men's`, '/dashboard/mens') %></p>
    <p> <%- link_to(`Women's`, '/dashboard/womens') %></p>
</span>
<div class="crumbs">
    <!-- First link that leads home -->
    <p> <%- link_to('Home', '/dashboard') %></p>
    <!-- Based on current category that we send from server we render the correct crumb -->
    <% if (current || active == null) { %>
        <!-- Applies for women category -->
        <% if (active === 'womens') { %>
            <!-- Wox below comes from database, we use it as a link, 
                but use a different name to look better -->
            <% let wox = `womens`; active = `Women's` %>
            <!-- Renders to correct crumb that comes from database -->
            ⋯<p> <%- link_to(`${active}`, `/dashboard/${wox}`) %> </p>
        <% } %>
        <!-- Applies for men category -->
        <% if (active === 'mens') { %>
            <!-- Wox below comes from database, we use it as a link, 
                but use a different name to look better -->
            <% let mex = `mens`; active = `Men's` %>
            <!-- Renders to correct crumb that comes from database -->
            ⋯<p> <%- link_to(`${active}`, `/dashboard/${mex}`) %> </p>
        <% } %>
    <%  } else { %>
        <!-- Needed for subcategories from products page -->
    ⋯ <p> <%- link_to(`${active}`, `/dashboard/${link}`) %> </p>
    <% } %>
    <!-- We replace the subcategory product page with the current item selected (like suits, shirts) -->
    <% if (subcategory) { %>
    ⋯  <p> <%- link_to_if(subcategory,`${subcategory}`, `/dashboard/${link}`) %> </p>
    <% } else if (current) { %>
        <!-- Custom logic to display correct item name that comes from database -->
    ⋯  <p> <%= current %> </p>
    <% } %>
</div>
<!-- Show register and login if there is no user logged in -->
<% if (!user) { %>
<div class="login">
    <div class="register">REGISTER</div>
    <div class="log">LOG IN</div>
</div>
<!-- Show logout button if there is a user logged in -->
<% } else { %>
<div class="logoutNow">
    <p>LOG OUT</p>
</div>
<% } %>
<div class="popupRegister">
    <%- include register.ejs %>
</div>
<div class="popupLogin">
    <%- include login.ejs %>
</div>
<!-- Search toggle on and off -->
<div class="searchToggle">
    <div class="searchInput">
        <!-- Input from user that is being sent to mongo for processing -->
        ⋗<input type="text" placeholder="Search, atleast 4 characters" class="inputValue"></input>
    </div>
    <!-- Suggested results will render inside searchBox -->
    <div class="searchBox"></div>
</div>

<div class="logged">
    <!-- Mandatory only render if we have a user logged in from server -->
    <% if (user) { %>
    <div class="user">
        <%= user %>
    </div>
    <div class="cart">
        <%- link_to(' ', `/cart/${user}`) %>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" xml:space="preserve" color="white">
            <g>
                <polygon points="26.672,15.636 30.229,57.839 92.887,57.839 100,15.636  "/>
                <polygon points="20.39,7.263 12.841,7.263 0,7.263 0,15.636 13.683,15.636 19.124,69.772 21.604,69.772 26.672,69.772    92.887,69.772 92.887,61.396 25.831,61.396  "/>
                <circle cx="39.593" cy="82.802" r="9.935"/>
                <circle cx="76.673" cy="82.802" r="9.935"/>
            </g>
        </svg>    
    </div>
    <div class="wish">
        <%- link_to(' ', `/wishlist/${user}`) %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125" x="0px" y="0px" id='wish'>
            <path d="M74.21,5.12H25.79a10.51,10.51,0,0,0-10.5,10.5v56a10.51,10.51,0,0,0,10.5,10.5h9.75L48.28,94.19a2.5,2.5,0,0,0,3.45,0L64.46,82.07h9.75a10.51,10.51,0,0,0,10.5-10.5v-56A10.51,10.51,0,0,0,74.21,5.12ZM36.81,24.65H63.19a2.5,2.5,0,0,1,0,5H36.81a2.5,2.5,0,0,1,0-5ZM65.68,74,50,88.93,34.35,74a8.63,8.63,0,0,1,0-12.29,8.84,8.84,0,0,1,13.57,1.35,2.5,2.5,0,0,0,4.15,0,8.79,8.79,0,0,1,1.11-1.35,8.88,8.88,0,0,1,12.46,0,8.63,8.63,0,0,1,0,12.25Zm2.65-32H31.67a2.5,2.5,0,0,1,0-5H68.33a2.5,2.5,0,0,1,0,5Z"/>
        </svg>
    </div>
    <% } %>
    <div class="search">
        <%- link_to(' ', '/dashboard/') %>
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 125" x="0px" y="0px">
            <path d="M36.87,74.22A37.11,37.11,0,1,1,73.73,37.11,37,37,0,0,1,36.87,74.22Zm0-69.94A32.83,32.83,0,1,0,69.45,37.11,32.74,32.74,0,0,0,36.87,4.28Z"/>
            <rect x="71.73" y="59.03" width="5" height="30.41" transform="translate(-30.75 74.23) rotate(-45)"/>
            <rect x="60.65" y="75.48" width="43.69" height="14.04" rx="7.02" ry="7.02" transform="translate(82.5 -34.17) rotate(45)"/>
        </svg>
    </div>
</div>
<script>
    let n = 1;
    // Search listener to show and disable the search function
    doc.querySelector('.search').addEventListener('click', () => {
        // Create headers and set them as default
        let headers = new Headers();
        headers.append('Content-Type', 'application/json');
        let options = {
            method: `POST`,
            headers: headers, 
            mode: `cors`, 
            cache: `default`,
            // Content-Type is set JSON so, JSON.stringify is needed to transform the object to JSON
            body: null,
            // Need to receive back the cookies that are sent back by the server
            credentials: `include`
        };
        // Helpers to get the data from user
        let search = doc.querySelector('.search');
        let enable = doc.querySelector('.searchToggle');
        let input = doc.querySelector('.inputValue');
        let box = doc.querySelector('.searchBox');
        let content = doc.querySelector('.content');
        // Clear previous search results, otherwise if used two times in a row, results stack
        box.innerHTML = '';
        // Clear also the previous user input search
        input.value = '';
        // Always increase the number
        n = parseInt(n) + parseInt(1);
        // This arrow function returns true or false based on the n statement
        let show = () => { return (n % 2 === 0) ? true : false }
        // Show and render the search box if the value returns true
        if(show(n)) {
            // Default is display none, we only trigger display grid when you user opens search dialog
            enable.style.display = `grid`;
            search.style.background = `#5A6B81`;
            // Search box on display, therefor content behind needs to be out of focus or blured
            content.setAttribute('style', 'filter: blur(10px)');
            // Custom event listener for when the user types something inside input and presses enter
            input.addEventListener('keydown', (e) => {
                // If 'Enter' key is pressed and input value is more than 0 then send data to server
                if (13 == e.keyCode && input.value.length > 0) {
                    // Clear the previous searches results
                    box.innerHTML = '';
                    let inp = { input: input.value }
                    // Assign to body the stringify version of the users input search
                    options.body = JSON.stringify(inp);
                    fetch(`http://localhost:3000/dashboard/search`, options).then(async (res) => {
                        // Helper to tell how many results are being found if any
                        let received = await res.json();
                        /* This expression is returns true if it has at least 1 character in res.responseText
                            but also there was no errors during the search query */
                        if (0 < received.length && Object.is(res.status, 200)) {
                            // Clear previous searches results
                            box.innerHTML = '';
                            // Received is an array of results, so a limit of results must be implemented
                            if (received.length > 10) {
                                // Cut and get only the first 10 results from array
                                let final = received.slice(0, 10);
                                /* Now final has only 10 items starting from [0]
                                    Loop over 10 results and create an element for each result */
                                for (let item of final) {
                                    let output = doc.createElement('a');
                                    output.innerText = item.name;
                                    output.setAttribute("href", `http://localhost:3000/${item.id}`);
                                    box.appendChild(output);
                                }
                                // Select the last item of the result to insert the link to the full page of results
                                let last = doc.querySelector('.searchBox a:last-child');
                                last.innerText = `... and ${received.length - 10} more.`;
                                last.style.color = `#b95`;
                                last.style.borderTop = `1px solid #eaeaea`;
                                // Link to a results page with all the searched items
                                last.setAttribute('href', `http://localhost:3000/showsearch/${input.value}`);
                            } else {
                               // If the results length is below 10, still loop over results
                               for (let item of received) {
                                    let output = doc.createElement('a');
                                    output.innerText = item.name;
                                    output.setAttribute("href", `http://localhost:3000/${item.id}`);
                                    box.appendChild(output);
                                } 
                                let last = doc.querySelector('.searchBox a:last-child');
                                last.innerText = `Click here to see more details.`;
                                last.style.color = `#b95`;
                                last.style.borderTop = `1px solid #eaeaea`;
                                last.setAttribute('href', `http://localhost:3000/showsearch/${input.value}`);
                            }
                        } else {
                            let output = doc.createElement('a');
                            output.innerHTML = `No items found!`;
                            last.style.color = `#b95`;
                            last.style.borderTop = `1px solid #eaeaea`;
                            box.appendChild(output);
                        }
                    });
                };
            })
        } else {
            // Disable the search box if the button is pressed again
            enable.style.display = `none`;
            // Disable the focus on search box
            search.style.background = `rgb(171, 178, 187)`;
            // Remove the content blur
            content.setAttribute('style', 'filter: none');
        }
    });
    // We only render this script if an user is logged in
    <% if(user) { %>
    // Logout listener for user to logout
    doc.querySelector('.logoutNow').addEventListener('click', () => {
        options.method = `GET`;
        fetch(`http://localhost:3000/dashboard/logout`, options).then((res) => {
            if(Object.is(res.status, 200)) {
                notif(`300px`, `Logged out!`);
                // In case logout from facebook is called
                FB.getLoginStatus((res) => {
                    // If it is connected, it means we can logout, otherwise ignore it
                    if (res.status === 'connected')
                        // Call logout method that includes the auth token
				        FB.logout((res)=> location.reload())
                });
                // In case logout from google is called
                if(gapi.auth2.getAuthInstance()) auth2.signOut();
                // Reload page after 4 seconds to indicate that there are no logged users
                setTimeout(()=> location.reload(), 4000);
            } else {
                // If something else than 200 is returned from server
                notif(``, `Some error occured`);
                setTimeout(()=> location.reload(), 3000);
            }
        })
    })
    // This applies when there is no user logged in
    <% } else { %>
    let popupRegister = doc.querySelector('.popupRegister');
    let popupLogin = doc.querySelector('.popupLogin');
    doc.querySelector('.register').addEventListener('click', () => {
        popupRegister.style.display = `flex`;
        doc.querySelector('.content').setAttribute('style', 'filter: blur(10px)');
    });
    doc.querySelector('.log').addEventListener('click', () => {
        popupLogin.style.display = `flex`;
        doc.querySelector('.content').setAttribute('style', 'filter: blur(10px)');
    }); 
    <% } %>
</script>
