<div class="boxyy">
    <div class="options">
        <div class="closeOptions">✕</div> 
        <div class="signupTitle">
            <span>LOGIN</span>
        </div>
        <div class="byUser">
            <span>with username</span>
        </div>
        <div class="byFacebook">
            <span>with Facebook</span>
        </div>
        <div class="byGoogle">
            <span data-onsuccess="onSignIn">with Google</span>
        </div>
    </div>
    <form id="form" autocomplete="off">
        <div class="closeForm">✕</div>
        <div class="boxTitle"><p>LOG IN</p></div>
        <div class="boxUsername">∷
            <input id='usr' required type='text' name='username' min='4' maxlength= '50' placeholder="Username"/>
        </div>
        <div class="boxPassword">∷
            <input id='pass' required type='password' name='password' min='4' maxlength='50' placeholder="Password"/>
        </div>
        <div class="boxSubmit">
            <submit onclick="return login()">SUBMIT</submit>
        </div>
    </form>
</div>

<style>
.boxyy {
    display: grid;
    position: relative;
    z-index: 6;
    width: 450px;
    height: 550px;
    border: 1px solid #cecece;
    background: linear-gradient(to top, #fff, #f0f0f0);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    box-shadow: 0px 15px 35px -20px rgba(0, 0, 0, 0.75);
}
.options {
    display: grid;
    grid-template-rows: 3fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr;
}
.signupTitle {
    display: flex;
    letter-spacing: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.signupTitle span {
    border-bottom: 2px solid #cccccc;
    color: #5A6B81;
    letter-spacing: 5px;
    font-size: 1.6em;
    font-family: 'PT Serif', sans-serif;
    cursor: default;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 15px 7px 15px;
    box-shadow: 0px 15px 25px -20px rgba(0, 0, 0, 1);
}
.byUser, .byFacebook, .byGoogle {
    font-size: 1.5em;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    -webkit-user-select: none;
    padding-right: 25px;
    letter-spacing: 1px;
}
.byUser span {
    background: #f5f7f9;
    color: #5A6B81;
    border: 1px solid #cecece;
    width: 350px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border-left: 5px solid#5A6B81;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 0px 15px 25px -20px rgba(0, 0, 0, 1);
}
.byFacebook span {
    background: #f5f7f9;
    color: #5A6B81;
    border: 1px solid #cecece;
    width: 350px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border-left: 5px solid#5A6B81;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 0px 15px 25px -20px rgba(0, 0, 0, 1);
}
.byGoogle span {
    background: #f5f7f9;
    color: #5A6B81;
    border: 1px solid #cecece;
    width: 350px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border-left: 5px solid#5A6B81;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 0px 15px 25px -20px rgba(0, 0, 0, 1);
}
.byUser:after, .byFacebook:after, .byGoogle:after{
    position: absolute;
    content: "⊞";
    left: 20px;
    top: 37%;
    color: #5A6B81;
}
#form {
    display: none;
    grid-template-rows: 3fr 4fr 4fr 3fr;
    grid-template-columns: 1fr;
    position: relative;
}
.closeOptions, .closeForm {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    right: 5px;
    top: 5px;
    content: "";
    z-index: 5;
    width: 25px;
    height: 25px;
    font-size: 1.2em;
    border: 1px solid #cecece;
    color: #5A6B81;
    background: #fff;
    cursor: default;
}
.boxTitle {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.boxTitle p {
    border-bottom: 2px solid #cccccc;
    color: #5A6B81;
    letter-spacing: 5px;
    font-family: 'PT Serif', sans-serif;
    font-size: 1.7em;
    cursor: default;
    padding: 0 15px 7px 15px;
    box-shadow: 0px 15px 25px -20px rgba(0, 0, 0, 1);
}
.boxUsername, .boxPassword {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 1.5em;
}
#usr, #pass {
    width: 85%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
    background: none;
}
.boxSubmit {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
::placeholder {
    color: #5A6B81;
    font-size: 0.9em;
    padding-left: 5px;
}
submit {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-family: 'PT Serif', sans-serif;
    font-size: 1.7em;
    color: #5A6B81;
    cursor: default;
    border-top: 2px solid #cecece;
    font-weight: 400;
    padding: 7px 15px 7px 15px;
    box-shadow: 0px -10px 35px -20px rgba(0, 0, 0, 1);
}
</style>
<script>
    // Global let statement (because its within the header of the website)
    let headers = new Headers(); 
    headers.append('Content-Type', 'application/json');
    // Create fetch object to send to LOGIN API
    let options = {
        method: `POST`,
        headers: headers, 
        mode: `cors`, 
        cache: `default`,
        body: null,
        credentials: `include`
    };
    function login() {
        // Get values from DOM
        let username = document.getElementById('usr');
        let password = document.getElementById('pass');
        let params = { 
            username: username.value, 
            password: password.value 
        };
        options.body = JSON.stringify(params);
        // Initial style for border bottom with no errors (form style)
        let origin = '1px solid #cccccc';
        // Basic length check client side
        if (params.username.length < 4) {
            username.style.borderBottom = `1px solid red`;
            notif(`420px`, `Insert 4 characters or more`);
        } else if (params.password.length < 4) {
            username.style.borderBottom = origin;
            password.style.borderBottom = `1px solid red`;
            notif(`420px`, `Insert 4 characters or more`);
        } else {
            // Set username and password to OK status
            let popUp = document.querySelector('.popupLogin');
            let content = document.querySelector('.content');
            username.style.borderBottom = origin;
            password.style.borderBottom = origin;
            // Call native fetch function with options, returns a promise
            fetch(`http://localhost:3000/dashboard/login`, options).then((res) => {
                // If response.status is 200 we have the cookie set
                if (Object.is(res.status, 200)) {
                    popUp.remove();
                    content.setAttribute('style', 'filter: none');
                    location.reload();
                } else {
                    // If res.status is anything but 200, we display feedback
                    username.style.borderBottom = `1px solid red`;
                    password.style.borderBottom = `1px solid red`;
                    notif(``, `Invalid password or username`);
                }
            }).catch((err) => {
                notif(``, `Please try again later`);
            })
        }
    }
    doc.querySelector('.closeOptions').addEventListener('click', () => {
        doc.querySelector('.popupLogin').style.display = 'none';
        doc.querySelector('.content').setAttribute('style', 'filter: none');
    });
    doc.querySelector('.closeForm').addEventListener('click', () => {
        doc.querySelector('.popupLogin').style.display = 'none';
        doc.querySelector('.content').setAttribute('style', 'filter: none');
    });
    doc.querySelector('.byUser').addEventListener('click', () => {
        doc.querySelector('.options').remove();
        doc.getElementById('form').style.display = `grid`;
        doc.querySelector('.boxyy').style.height = `420px`;
    })
    // Event listener for facebook login option
    doc.querySelector('.byFacebook').addEventListener('click', () => {
        FB.login(function(res) {
            // Facebook pop-up window is enabled waiting for email and password
            if(res.status === 'connected') {
                /* User typed in the correct credentials also get name and id from facebook API */
                FB.api('/me', function(response) {
                    // Stringify to cope with Content-Type app/json also send name and id to mongo
                    options.body = JSON.stringify(response);
                    // Fetch with default options set to POST
                    fetch(`http://localhost:3000/dashboard/facebook`, options).then((res) => {
                        // If server sends 200, reload page, cookies set, user logged in
                        if (Object.is(res.status, 200)) location.reload();
                        if (Object.is(res.status, 401)) notif(`400px`, `Please try again later`);
                    }).catch((err) => {
                        notif(`400px`,`Please try again later`);      
                    })
                });
            } else notif(`400px`,`Please try again later`);
        });
    })
    document.querySelector('.byGoogle').addEventListener('click', () => {
        // Click on Google Login, promise will return a code access
        auth2.grantOfflineAccess().then((res) => {
            // Google API returns true if logged in succesfully
            if (auth2.isSignedIn.get()) {
                // Fetch the profile after user logged in
                let profile = auth2.currentUser.get().getBasicProfile();
                let id = profile.getId();
                let name = profile.getName();
                let params = {
                    id: id,
                    name: name
                }
                // Get google data to be sent to mongo
                options.body = JSON.stringify(params);
                fetch(`http://localhost:3000/dashboard/google`, options).then((res) => {
                    // If server sends 200, reload page, cookies set, user logged in
                    if (Object.is(res.status, 200)) location.reload();
                }).catch((err) => {
                    // If the promise is solved as rejected
                    notif(`400px`,`Please try again later`);
                })
            }
        });
    })
</script>
<script async defer>
    // Predifined from facebook API docs
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '854375754717611',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.10'
        });
        FB.AppEvents.logPageView();   
    };
    // IIFE
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<html itemscope itemtype="http://schema.org/Article"></html>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
    function start() {
        // Initialize Google Sign In
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
              // Use client id as a 'login' to Google
              client_id: '712430986863-q8uhh9knonribr172cth47lurjmk9ggp.apps.googleusercontent.com',
              fetch_basic_profile: true
            });
        });
    }
</script>