<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/styleMen.css" />
  	</head>
  	<body>
        <section>
            <header class="header">
                <% include header.ejs %>
            </header>
            <article class="content">
                <div class="context">
                    <% for(let item of ctx) { %>
                        <div class="pageTitle">
                            <span><%= item.page_title %></span>
                            <span><%= item.page_description %></span>
                        </div>
                        <div class="categorySection">
                            <% for (let cat of item.categories) { %>
                                <span class="categoryTitle">
                                    <%= cat.name %>
                                </span>
                                <div class="categoryDescription">
                                    <%= cat.page_description %>
                                </div>
                                <div class="categoryImage">
                                    <!-- If an image exists, render it-->
                                    <% if (cat.image) { %>
                                        <!-- Insert the link inside imgs source -->
                                        <img src="../images/<%= cat.image %>">
                                    <% } else { %>
                                        <!-- If it does not exist, render text instead -->
                                        <span class="notFound">
                                            <p>IMAGE NOT FOUND</p>
                                        </span>
                                    <% } %>
                                    <span class="viewMore">
                                        <!-- Interpolate directly into the url params -->
                                        <span>
                                            <!-- Little hack to increase the value from server for category display,
                                                although a hack, looks clean. -->
                                            <% i++ %>
                                            <%- link_to('View products', `/dashboard/${item.id}/${i}`) %>
                                        </span>
                                    </span>
                                </div>
                            <% } %>
                        </div>  
                    <% } %>
                </div>
            </article>
            <footer class="footer">
                <% include footer.ejs %>
            </footer>
        </section>
  	</body>
</html>
