<!DOCTYPE html>
<html>
	<head>
        <title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/styleProducts.css" />
  	</head>
  	<body>
        <section>
            <header class="header">
                <% include header.ejs %>
            </header>
            <article class="content">
                <div class="context">
                    <%  for (let item of categories) {%>
                        <div class="categoryBox">
                            <span class="categoryTitle">
                                <%= item.name %>
                            </span>
                            <div class="categoryImage">
                                <% if(item.image) { %>
                                    <img src="../../images/<%= item.image %>">
                                <% } else { %>
                                    <span class="notFound">
                                        <p>IMAGE NOT FOUND</p>
                                    </span>
                                <% } %>
                            </div>
                            <div class="categoryDescription">
                                <%= item.page_description %>
                            </div>
                            <div class="categoryMore">
                                <span class="viewMore">
                                    <!-- Each product has it's own link in crumbs, when rendered, 
                                        it replaces the subcategory with the product name -->
                                    <%- link_to('View More', `/dashboard/details/${item.id}/${item.name}/${link}`) %>
                                </span>
                            </div>
                        </div>
                    <% } %>
                </div>
            </article>
            <footer class="footer">
                <% include footer.ejs %>
            </footer>
        </section>
  	</body>
</html>


