<div class="box">
    <form id="formOne" autocomplete="off">
        <div class="closeSign">✕</div>  
        <div class="boxTitle"><p>SIGN UP</p></div>
        <div class="boxUsername">∷
            <input id='username' required type='text' name='username' min='4' maxlength= '50' placeholder="Username"/>
        </div>
        <div class="boxEmail">∷
            <input id='email' required type='email' name='email' min='5' maxlength='50' placeholder="Email"/>
        </div>
        <div class="boxPassword">∷
            <input id='password' required type='password' name='password' min='4' maxlength='50' placeholder="Password"/>
        </div>
        <div class="boxPassword">∷
            <input id='confirm' required type='password' name='confirm' min='4' maxlength='50' placeholder="Confirm password"/>
        </div>
        <div class="boxSubmit">
            <submit onclick="return register()">SUBMIT</submit>
        </div>
    </form>
    <form id="formTwo" autocomplete="off">
        <div class="closeToken">✕</div>
        <div class="boxTitle"><p>CONFIRM</p></div>
        <div class="boxToken">∷
            <input id='token' required type='text' name='token' min='4' maxlength= '37' placeholder="Activation token"/>
        </div>
        <div class="boxSubmitToken">
            <submit onclick="return token()">SUBMIT</submit>
        </div>
    </form>
</div>
<style>
.box {
    display: grid;
    position: relative;
    z-index: 6;
    width: 450px;
    height: 550px;
    border: 1px solid #cecece;
    background: linear-gradient(to top, #fff, #f0f0f0);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    box-shadow: 0px 15px 35px -20px rgba(0, 0, 0, 0.75);
}
.closeSign, .closeToken {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    right: 5px;
    top: 5px;
    content: "";
    z-index: 5;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    border: 1px solid #cecece;
    color: #5A6B81;
    background: #fff;
    cursor: default;
}
.boxTitle {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.boxTitle p {
    border-bottom: 2px solid #cccccc;
    color: #5A6B81;
    letter-spacing: 5px;
    font-family: 'PT Serif', sans-serif;
    font-size: 1.7em;
    cursor: default;
    padding: 0 15px 7px 15px;
    box-shadow: 0px 15px 25px -20px rgba(0, 0, 0, 1);
}
.boxUsername, .boxEmail, .boxPassword, .boxToken {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 1.5em;
}
#username, #email, #password, #confirm, #token {
    width: 85%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
    background: none;
}
.boxSubmit, .boxSubmitToken {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
::placeholder {
    color: #5A6B81;
    font-size: 0.9em;
    padding-left: 5px;
}
#formOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    position: relative;
}
submit {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-family: 'PT Serif', sans-serif;
    font-size: 1.7em;
    color: #5A6B81;
    cursor: default;
    border-top: 2px solid #cecece;
    font-weight: 400;
    padding: 7px 15px 7px 15px;
    box-shadow: 0px -10px 35px -20px rgba(0, 0, 0, 1);
}
#formTwo {
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    position: relative;
}
</style>

<script>
    // Global let statement (because the header is included in each page)
    let doc = document;
    let close = doc.querySelector('.popupRegister');
    let notification = doc.createElement('div');
    function notif(width = `400px`, text) {
        notification.className = `notification`;
        notification.style.width = width;
        notification.innerText = text;
        document.body.appendChild(notification);
        setTimeout(()=> notification.remove(), 4000);
    }
    function register() {
        let username = doc.querySelector('#username');
        let email = doc.querySelector('#email');
        let password = doc.querySelector('#password');
        let confirm = doc.querySelector('#confirm');
        let params = { 
            username : username.value,
            email: email.value,
            password: password.value,
            confirm: confirm.value
        };
        let box = doc.querySelector('.box');
        let send = doc.querySelector('#formOne');
        let token = doc.querySelector('#formTwo');
        let original = {
            ok: '1px solid #cccccc'
        }
        // Validation client side to be sure mongo does not receive bad data
        if (params.username.length < 4) {
            username.style.borderBottom = '1px solid red';
        } else if (params.email.length < 5) {
            username.style.borderBottom = original.ok;
            email.style.borderBottom = '1px solid red';
        } else if (params.password.length < 4) {
            email.style.borderBottom = original.ok;
            password.style.borderBottom = '1px solid red';
        } else if (params.confirm.length < 4) {        
            confirm.style.borderBottom = '1px solid red';
        } else if (!Object.is(params.password, params.confirm)) {
            password.style.borderBottom = '1px solid red';    
            confirm.style.borderBottom = '1px solid red';
        } else {
            // All inputs are within the boundaries
            password.style.borderBottom = original.ok;
            confirm.style.borderBottom = original.ok;
            options.body = JSON.stringify(params);
            fetch(`http://localhost:3000/dashboard/register`, options).then((res) => {
                if (Object.is(res.status, 200)) {
                    // Two stage registration, first take input then display token page
                    box.style.height = `400px`;
                    box.style.width = `500px`;
                    send.style.display = `none`;
                    token.style.display = `grid`;
                    notif(`380px`, `Email token sent!`);
                } else if (Object.is(res.status, 401)) {
                    notif(`420px`, `Username is used, try again!`);
                }
            })
        }
    }
    // Invoke this function if input from user is valid (unique username, email etc)
    function token() {
        let params = { 
            username : username.value,
            email: email.value,
            password: password.value
        };
        let tokenValue = doc.querySelector('#token').value;
        let tokenInput = { 
            token: tokenValue 
        };
        let includeToken = Object.assign(params, tokenInput);
        options.body = JSON.stringify(includeToken);
        fetch(`http://localhost:3000/dashboard/token`, options).then((res) => {
            if (Object.is(res.status, 200)) {
                notif(``, `Account created!`);
                setTimeout(()=> location.reload(), 2000);
            } else {
                notif(``, `Invalid token!`);
            }
        })
    }
    // Close events of the popup
    doc.querySelector('.closeSign').addEventListener('click', () => {
        close.style.display = 'none';
        doc.querySelector('.content').setAttribute('style', 'filter: none');
    });
    doc.querySelector('.closeToken').addEventListener('click', () => {
        close.style.display = 'none';
        doc.querySelector('.content').setAttribute('style', 'filter: none');
    });
</script>
