<style>
.reviews {
    display: grid;
    padding: 15px 0 15px 0;
    border-bottom: 5px solid #5A6B81;
    position: relative;
}
.reviews::after {
    position: absolute;
    left: 0;
    content: "";
    width: 15%;
    height: 100%;
    border-right: 1px solid #eaecee;
    border-left: 1px solid #eaecee;
    z-index: 3;
}
.outputTitle {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 1fr;
}
.outputContent {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 1fr;
}
.outputStars {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 1fr;
}
.outputUser {
    display: grid;
    grid-template-columns: 2fr 7fr;
}
.outputTitle span, .outputContent span, .outputStars span, .outputUser span {
    padding-left: 15px;
}
.outputTitle p, .outputContent p, .outputStars p, .outputUser p {
    color: #5A6B81;
    font-size: 1.1em;
}
.outputStars p {
    color: #b95;
    font-size: 1.3em;
}
#bigTitle {
    color: #5A6B81;
    font-size: 1.2em;
    background: #5A6B81;
    color: #fff;
    padding: 5px;
    padding-right: 72%;
    position: relative;
    z-index: 6;
}
</style>

<span id="bigTitle">Top costumer reviews</span>
<% for(let item of iter) { %>
    <div class="reviews">
        <div class="outputTitle">
            <span>review title</span>
            <p><%= item.title %></p>
        </div>
        <div class="outputContent">
            <span>review</span>
            <p><%= item.content %></p>
        </div>
        <div class="outputStars">
            <span>stars</span>
            <!-- <p><%= item.stars %></p> -->
            <p>
            <% for(let i = 0; i < item.stars; i++) { %> 
            ★
            <% } %>
            </p>
        </div>
        <div class="outputUser">
            <span>reviewer</span>
            <p><%= item.user %></p>
        </div>
    </div>
<% } %>
