<!DOCTYPE html>
<html>
	<head>
        <title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/styleDetails.css" />
  	</head>
  	<body>
        <section>
            <header class="header">
                <% include header.ejs %>
            </header>
            <article class="content">
                <div class="context">
                    <% for(let item of products) { %>
                        <div class="productBox">
                            <div class="specL">
                                <div class="productImage">
                                    <!-- Destructure the object that comes from image_groups -->
                                    <% if({ image_groups: [ { images : [ { link: img } ] } ] } = item) { %>                                   
                                    <img src="../../../../images/<%= img %>">
                                    <% } %>
                                </div>
                            </div>
                            <div class="specR">
                                <div class="productName"> <%= item.name %></div>
                                <div class="productDescription"><%= item.short_description %></div>
                                <div class="productBuy">
                                    <div class="productCurrency"><%= item.currency %></div>
                                    <div class="productPrice"><%= item.price %></div>
                                </div>
                                <div class="productMore">
                                    <span class="viewMore"><%- link_to('More details', `/${item.id}`) %></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </article>
            <footer class="footer">
                <% include footer.ejs %>
            </footer>
        </section>
  	</body>
</html>






    
    