<!DOCTYPE html>
<html>
	<head>
        <title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/styleSpecific.css" />
  	</head>
  	<body>
        <section>
            <header class="header">
                <% include header.ejs %>
            </header>
            <article class="content">
                <div class="context">
                    <% for(let item of specific) { %>
                        <div class="readReviews" onclick="return readReviews()">
                            <a>✰</a>
                        </div>
                        <!-- Use two invis boxes near each other, one for img one for info -->
                        <div class="specL">
                            <span></span>
                            <!-- Same drill, use an image only if it exists -->
                            <% if({ image_groups: [ { images : [ { link: img } ] } ] } = item) { %>
                                <img id="imgIf" src="../../images/<%= img %>">
                            <% } %>
                            <div class="fb-like" data-layout="standard" data-action="like"
                                data-href="https://developers.facebook.com/docs/plugins/"
                                data-size="small" data-show-faces="true" data-share="true">
                            </div>
                            <div class="addReview" onclick="return addReview()">
                                <a>Add a review</a>
                            </div>
                        </div>
                        <div class="specR">
                            <span class="specTitle">
                                <%= item.name %>
                            </span>
                            <span class="specDetails">
                                <%- item.long_description %>
                            </span>
                            <div class="specBuy">
                                <span class="specPrice">
                                    <span class="initial"><%= item.price %></span>
                                    <span class="after"></span>
                                </span>
                                <span class="specCurrency">
                                    <select class="currency" name='currency' form='currency'>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="RON">RON</option>
                                        <option value="GBP">GBP</option>
                                        <option value="CHF">CHF</option>
                                    </select>
                                </span>
                            </div>
                            <div class="specBuyNow">
                                <!-- Needed to pop notification if there is no user logged in -->
                                <% if (user) { %>
                                    <a class="buy" onclick="add()">
                                        Buy Now
                                    </a>
                                    <a class="toWishList" onclick="wish()">
                                        Add to wish list
                                    </a>
                                <% } else { %>
                                    <a class="buy" onclick="notLoggedIn()">
                                        Buy Now
                                    </a>
                                    <a class="toWishList" onclick="notLoggedIn()">
                                        Add to wish list
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                    <div class="addReviewBox">
                        <span class="reviewClose">✕</span>
                        <span class="reviewTitle">review title</span>
                        <span class="reviewContent">review content</span>
                        <span class="reviewStars">review stars</span>
                        <input id='title' required type='text' name='title' min='4' maxlength= '20' placeholder="✚"/>
                        <input id='content' required type='text' name='content' min='4' maxlength= '80' placeholder="✚"/>
                        <form class='starSelect'>
                            <input class='selectInput' onclick="handleClick(this)" id='star0' name='star' type='radio' value='6'>
                            <label class='selectStar-zero' for='star0'></label>
                            <input class='selectInput' onclick="handleClick(this)" id='star1' name='star' type='radio' value='5'>
                            <label class='selectStar' for='star1'></label>
                            <input class='selectInput' onclick="handleClick(this)" id='star2' name='star' type='radio' value='4'>
                            <label class='selectStar' for='star2'></label>
                            <input class='selectInput' onclick="handleClick(this)" id='star3' name='star' type='radio' value='3'>
                            <label class='selectStar' for='star3'></label>
                            <input class='selectInput' onclick="handleClick(this)" id='star4' name='star' type='radio' value='2'>
                            <label class='selectStar' for='star4'></label>
                            <input class='selectInput' onclick="handleClick(this)" id='star5' name='star' type='radio' value='1'>
                            <label class='selectStar' for='star5'></label>
                        </form>
                        <span class="sendReview">
                            <submit id="sendReview" onclick="return sendReview()">SUBMIT</submit>
                        </span>
                    </div>
                    <div class="viewReviews">
                        <div class="outputReview"></div>
                    </div>
                </div>
            </article>
            <footer class="footer">
                <% include footer.ejs %>
            </footer>
        </section>
  	</body>
</html>

<script>
    // Listener outside user statement, because it supposed to work whether or not there is a user logged in
    doc.querySelector('.currency').addEventListener('change', function() {
        // Can't use arrow function here because this would reference the local scope.
        let type = this.value;
        let currency = document.querySelector('.initial');
        let value = currency.innerText;
        // No need validation, we have 'const' values and they won't change
        options.method = `GET`;
        options.body = null;
        fetch(`http://localhost:3000/currency/${type}/${value}`, options).then(async (res) => {
            // Transform text to JSON
            let text = await res.json();
            let final = JSON.parse(text);
            currency.style.position = `absolute`;
            currency.style.left = `-500%`;
            document.querySelector('.after').innerText = final;
        });
    });
    let m = 1;
    let container = doc.querySelector('.viewReviews');
    let id = window.location.pathname;
    let idFinal = id.replace(/\//g, "");
    // Everyone can readReviews, so it is outside user scope
    function readReviews() {
        let output = doc.querySelector('.outputReview');
        m = parseInt(m) + parseInt(1);
        let show = () => { return (m % 2 === 0) ? true : false }
        if(show(m)) {
            container.style.display = `grid`;
            options.method = `GET`;
            options.body = null;
            fetch(`http://localhost:3000/readreview/${idFinal}`, options).then(async (res) => {
                if (Object.is(res.status, 200)) return res.text();
                else {
                    container.remove();
                    notif(``, `No reviews found!`);
                }
            }).then((data) => {
                if(data) output.innerHTML = data;
            })
        } else {
            if(container) container.style.display = `none`;
        }
    } 
    // Only for users
    <% if (user) { %>
    let price = doc.querySelector('.specPrice').innerText;
    let user = doc.querySelector('.user').innerText;
    let name = doc.querySelector('.specTitle').innerText;
    let image = doc.getElementById('imgIf').src;
    let box = doc.querySelector('.addReviewBox');
    let left = doc.querySelector('.specL');
    let right = doc.querySelector('.specR');
    let read = doc.querySelector('.readReviews');
    let addRev = doc.querySelector('.addReviewBox');
    let stars = 0;
    // Close add review pop-up
    doc.querySelector('.reviewClose').addEventListener('click', () => {
        box.style.display = `none`;
        left.setAttribute('style', 'filter: none');
        right.setAttribute('style', 'filter: none');
        read.style.display = `block`;
    });
    // Function to add items to cart
    function add() {
        let final = {
            price: price,
            id: id,
            user: user,
            name: name,
            image: image
        };
        options.body = JSON.stringify(final);
        options.method = `POST`;
        fetch(`http://localhost:3000/dashboard/tocart`, options).then((res) => {
            notif(``, `Product added to cart!`);
        })
    };
    function wish() {
        let final = {
            price: price,
            id: id,
            user: user,
            name: name,
            image: image
        };
        options.body = JSON.stringify(final);
        options.method = `POST`;
        fetch(`http://localhost:3000/dashboard/towishlist`, options).then((res) => {
            notif(``, `Product added to wishlist!`);
        })
    };
    function addReview() {
        box.style.display = `grid`;
        left.setAttribute('style', 'filter: blur(7px)');
        right.setAttribute('style', 'filter: blur(7px)');
        read.style.display = `none`;
    }
    function handleClick(i) {
        stars = i.value;
    }
    function sendReview() {
        let inputTitle = doc.getElementById('title').value;
        let inputContent = doc.getElementById('content').value;
        if(inputTitle.length < 4) {
            notif(``, `Title must be atleast 4 chars`);
        } else if(inputContent.length < 4) {
            notif(`420px`, `Content must be atleast 4 chars`);
        } else if(stars < 1) {
            notif(``, `Atleast 1 star is required`);
        } else {
            let obj = {
                title: inputTitle,
                content: inputContent,
                stars: stars,
                id : `${idFinal}`,
                username: `<%= user %>`
            }
            options.body = JSON.stringify(obj);
            options.method = `POST`;
            fetch(`http://localhost:3000/dashboard/addreview`, options).then((res) => {
                if(Object.is(res.status, 200)) {
                    notif(`400px`, `Review added, thank you!`);
                    setTimeout(() => location.reload(), 4000);
                }
            })
        }
    }
    // Functions for everyone else, as in public space
    <% } else { %>
    function addReview() {
        notif(`400px`,`Please login to add a review!`);
    }  
    function notLoggedIn() {
        notif(`350px`, `Please login to continue!`);
    }
    <% } %>
</script>