<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/wishlist.css" />
  	</head>
  	<body>
        <section>
            <div class="header">
                <% include header.ejs %>
            </div>
            <div class="content">
                <div class="context">
                    <div class="cartTitle">My wishlist</div>
                    <% if (wishlist === undefined || wishlist.length == 0) { %>
                        <div class="cartContent center">Your wishlist is empty, fill it up!</div>
                    <% } else { %>
                        <div class="cartContent">
                            <% for(let item of wishlist) { %>
                                <div class="section">
                                    <span class="sectionImage">
                                        <% if(item.image) { %>
                                            <% let val = item.image; newVal = val.substring(21, val.length); %>
                                            <img id="resizedIMG" src="../../<%= newVal %>">
                                        <% } %>
                                    </span>
                                    <span class="sectionName">
                                        <%= item.name %>
                                    </span>
                                    <span class="sectionPrice">
                                        <div class="remove">
                                            <p><%= item.id %></p>
                                            <span onclick="<%= remove %>">REMOVE</span>
                                        </div>
                                        <div class="select">
                                            <span value="<%= item.id %>">SELECT</span>
                                        </div>
                                        <span class="price">
                                            $ <span> <%= item.price %> </span>
                                    </span>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="cartTotal">
                        <div class="total">
                            Selected: 0 items.
                        </div>
                        <div class="checkout">
                            <p>To shopping cart</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <% include footer.ejs %>
            </div>
        </section>
  	</body>
</html>

<script>
    let set = new Set;
    let nodes = document.querySelectorAll('.select span');
    let total = document.querySelector('.total');
    let removeOne = document.querySelector('.remove span');
    let user = document.querySelector('.user').innerText;
    // Create nodes with items found in the wishlist so each can be selected and removed
    for(let item of nodes) {
      item.addEventListener('click', function() {
        let value = this.getAttribute('value');
        let selected = this.style;
        let text = this;
        // Never have the same values in the list
        if (set.has(value)) {
            set.delete(value);
            selected.color = `#8898aa`;
            selected.background = `#f5f5f5`;
            text.innerText = `SELECT`;
        } else {
            set.add(value);
            selected.color = `#fff`;
            selected.background = `#5A6B81`;
            text.innerText = `SELECTED`;
        }
        total.innerText = `Selected: ${set.size} items.`;
      });    
    }
    // Default function to removed items based on a set of objects
    function remove(obj) {
        options.body = JSON.stringify(obj);
        fetch(`http://localhost:3000/dashboard/removewish`, options).then((res) => {
            // Reload page so it shows the item being removed
            if (Object.is(res.status, 200)) location.reload();
        })
    }
    // Adds items to cart if there are any selected items
    document.querySelector('.checkout p').addEventListener('click', async () => {
        if(Object.is(set.size, 0)) {
            notification.className = `notification`;
            notification.innerText = `No items in the wishlist!`;
            document.body.appendChild(notification);
            setTimeout(()=> notification.remove(), 4000);
        } else {
            // Create an object, so its easier to remove later
            let obj = {
                id: Array.from(set),
                user: user
            }
            options.body = JSON.stringify(obj);
            fetch(`http://localhost:3000/dashboard/tocartfromwish`, options).then((res) => {
                // Based on user selection, remove the products from database
                if(Object.is(res.status, 200)) remove(obj);
            });
        }
    });
    if (removeOne) {
        removeOne.addEventListener('click', async () => {
            let id = document.querySelector('.remove p').innerText;
            let one = {
                id: [id],
                user: user
            }
            remove(one);
        });
    }
</script>