<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/styleWomen.css" />
  	</head>
  	<body>
        <section>
            <header class="header">
                <% include header.ejs %>
            </header>
            <article class="content">
                <div class="context">
                    <% for(let item of ctx) { %>
                        <div class="pageTitle">
                            <span><%= item.page_title %></span>
                            <span><%= item.page_description %></span>
                        </div>
                        <div class="categorySection">
                            <% for (let cat of item.categories) { %>
                                <span class="categoryTitle">
                                    <%= cat.name %>
                                </span>
                                <div class="categoryDescription">
                                    <%= cat.page_description %>
                                </div>
                                <div class="categoryImage">
                                    <% if (cat.image) { %>
                                        <img src="../images/<%= cat.image %>">
                                    <% } %>
                                    <span class="viewMore">
                                        <span>
                                            <% i++ %>
                                            <%- link_to('View products', `/dashboard/${item.id}/${i}`) %>
                                        </span>
                                    </span>
                                </div>
                            <% } %>
                        </div>  
                    <% } %>
                </div>
            </article>
            <footer class="footer">
                <% include footer.ejs %>
            </footer>
        </section>
  	</body>
</html>


