<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/style.css" />
  	</head>
  	<body>
        <section>
            <div class="header">

            </div>
            <div class="content">
                
            </div>
            <div class="footer">
                
            </div>
        </section>
  	</body>
</html>
