@import url('https://fonts.googleapis.com/css?family=Assistant|Quicksand|PT+Serif');

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #8898aa;
  -webkit-user-select: none;
  white-space: nowrap;
  font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: inherit;
  color: inherit;
}
body {
  background: #f5f7f9;
} 
section:first-child {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 10fr 50px;
  grid-template-areas: 
  "header" 
  "content" 
  "footer";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 25px 10fr;
  grid-template-areas: 
  ". . ."
  ". context .";
}
.context {
  grid-area: context;
  border: 1px solid #eaecee;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 15px;
}
.notification {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  right: 40px;
  bottom: 50px;
  width: 400px;
  height: 45px;
  color: #5A6B81;
  border: 1px solid #5A6B81;
  background: linear-gradient(to top, #fff, #f0f0f0);
  border-left: 10px solid #5A6B81;
  letter-spacing: 2px;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 10px 35px -20px rgba(0, 0, 0, 0.75);
}
.notification:after {
  content: "⧐";
  color: #5A6B81;
  left: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.productBox {
  border: 1px solid #eaecee;
  background: #f5f7f9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "specL" ;
  -webkit-user-select: none;
}
.specL {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.specR {
  display: grid;
  grid-template-rows: 3fr 4fr 2fr 2fr;
  grid-row-gap: 25px;
}
.productName {
  white-space: normal;
  font-family: 'PT Serif', sans-serif;
  color: #292e31;
  font-size: 1.8em;
  letter-spacing: 4px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-indent: 25px;
}
.productDescription {
  white-space: normal;
  font-family: 'PT Serif', sans-serif;
  color: #292e31;
  font-size: 1.2em;
  text-indent: 15px;
  padding: 0 20px 0 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.productBuy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.productCurrency {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  font-size: 2em;
}
.productPrice {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  font-size: 1.5em;
  color: #292e31;
}
.productMore {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.viewMore {
  border: 1px solid #cecece;
  background: #f5f7f9;
  padding: 10px 35px 10px 35px;
  font-size: 1.4em;
  font-family: 'Quicksand', sans-serif;
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.title {
  font-family: 'Assistant', sans-serif;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  font-weight: bolder;
  font-size: 2.3em;
  color: #5A6B81;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.category {
  font-family: 'Quicksand', sans-serif;
  grid-row: 2 / span 1;
  grid-column: 7 / span 2;
  display: grid;
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 4px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  text-decoration: none;
  color: #fff
}
.category p:nth-child(1) {
  grid-column: 1 / span 4;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid #eaecee;
  background: #fff;
  text-decoration: inherit;
  position: relative;
}
.category p:nth-child(2) {
  grid-column: 6 / span 5;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid #eaecee;
  background: #fff;
  text-decoration: inherit;
  position: relative;
}
.crumbs {
  grid-row: 4 / span 2;
  grid-column: 3 / span 6;
  font-size: 1.7em;
  display: flex;
  border: 1px solid #eaecee;
  background: #fff;
}
.crumbs p {
  cursor: pointer;
  padding: 0 15px 0 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.notFound {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.notFound p{ 
  border: 1px solid #cecece;
  padding: 10px 15px 10px 15px;
  color: #5A6B81;
  background: #fff;
}
.login {
  grid-row: 2 / span 1;
  grid-column: 9 / span 2;
  display: grid;
  grid-template-columns: 15% 1fr 5% 1fr 15%;
  grid-template-areas: ". register . logIn .";
  cursor: default;
}
.register {
  grid-area: register;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #eaecee;
  font-size: 1.3em;
  background: #8898aa;
  border: 1px solid #eaecee;
}
.log {
  grid-area: logIn;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #eaecee;
  font-size: 1.3em;
  background: #8898aa;
  border: 1px solid #eaecee;
}
.popupRegister, .popupLogin {
  display: none;
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.searchToggle {
  grid-row: 4 / span 2;
  grid-column: 5 / span 2;
  background: #f5f7f9;
  display: none;
  grid-template-rows: 35px 35px;
  grid-template-areas: 
  "searchInput" 
  "searchBox";
  color: #5A6B81;
  font-size: 1.3em;
  cursor: default;
  position: relative;
}
.searchInput {
  grid-area: searchInput;
  position: relative;
  border: 1px solid #eaeaea;
  border-right: hidden;
  border-bottom: hidden;
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.inputValue{
  position: relative;
  border: none;
  outline: none;
  background: none;
  z-index: 5;
  margin-left: 10px;
  border-bottom: 1px solid #cecece;
  height: 100%;
}
.searchBox {
  grid-area: searchBox;
  display: grid;
  margin-top: -1px;
  width: 100.1%;
  box-shadow: 0px 15px 35px -20px rgba(0, 0, 0, 0.75);
}
.searchBox a {
  color: #5A6B81;
  z-index: 6;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-top: hidden;
  border-bottom: hidden;
  background: #fff;
  cursor: pointer;
}
.searchBox a:first-child {
  border-top: 1px solid #eaeaea;
  z-index: 6;
}
.searchBox a:last-child{
  border-bottom: 1px solid #eaeaea;
  z-index: 6;
}
.logged {
  grid-row: 4 / span 2;
  grid-column: 7 / span 2;
  display: grid;
  grid-template-columns: 2fr 15px 2fr 15px 2fr 15px 4fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "search . cart . wish . user user";
}
.user {
  grid-area: user;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #5A6B81;
  color: #fff;
  font-size: 1.4em;
  cursor: default;
}
.search {
  grid-area: search;
  background: rgb(171, 178, 187);
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.cart {
  grid-area: cart;
  background: rgb(171, 178, 187);
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.cart a {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
svg {
  width: 27px;
  height: 28px;
  z-index: 2;
  fill: white;
}
#wish {
  width: 30px;
  height: 30px;
}
.wish {
  grid-area: wish;
  background: rgb(171, 178, 187);
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.wish a {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.logoutNow {
  grid-row: 2 / span 1;
  grid-column: 9 / span 2;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: ". p .";
  cursor: default;
}
.logoutNow p {
  grid-area: p;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 15px 0 15px;
  font-size: 1.3em;
  background: #8898aa;
  border: 1px solid #eaecee;
  color: #eaecee;
}